* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 700px;
  height: 350px;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  display: flex;
}
.image-box img {
  height: 350px;
  width: 300px;
  border-radius: 10px 0 0 10px;
}
.item-info {
  background-color: beige;
  padding-left: 30px;
  border-radius: 0 10px 10px 0;
}
.para1 {
  font-size: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
h1 {
}
p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 22px;
}
.price {
  color: #25644f;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.add-btn {
  width: 90%;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  background-color: #25644f;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}
span {
  margin-left: 20px;
}
.price-1 {
  font-size: 15px;
  padding-left: 10px;
}
